body{
    font-family:  monospace;
}
h1{
	margin-top: 2em;
    text-align: center;
    border-bottom: solid black 10px;
}
#main{
    padding: 50px;
}
legend{
    text-transform: uppercase;
}
label{
    font-weight: bold;
	display: block;
	float: left 250px;
}
button{
    margin-top: 10px;
}
.col{
    color: red;
}